################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/course-gh-actions/FileContentIndex/5e584ac8-d1e9-42d5-afe7-0166dc080da4.vsidx
/.vs/course-gh-actions/FileContentIndex/65643e31-7e9b-4deb-aa82-6eb6119d03ad.vsidx
